[user]
	emain = darkkeks@rambler.ru
	email = darkkeks@rambler.ru
	name = darkkeks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
